# Fixes UNABLE_TO_VERIFY_LEAF_SIGNATURE on some Windows/corporate networks
strict-ssl=false

# Faster, more tolerant installs for React Native
legacy-peer-deps=true
prefer-offline=true
no-audit=true
fund=false
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
maxsockets=3
